@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.toggle {
    position: fixed;
    top: 5px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #000 url(../img/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
}

.toggle.active {
    background: #000 url(../img/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    z-index: 999;
}

.header ul {
    display: flex;
    justify-content: space-evenly;;
    align-items: center;
}

.header li {
    list-style: none;
}

.header .header_sci li {
    padding-right: 10px;
}

.soc {
    filter: invert(0);
}

.header_schedule {
    margin-right: 10px;
}

.header .logo {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #fff;
    color: #333;
    padding: 0 5px;
}

section {
    padding: 100px;
    min-height: 100vh;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .imgSidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}

.banner .imgSidebar img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .contentBx, .sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.logoText {
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #333;
    color: #fff;
    padding: 0 5px;
}

.banner .contentBx h4 {
    font-size: 1.5em;
    color: #333;
    font-weight: 300;
}

.banner .contentBx h4 span {
    color: #00bcd4;
    font-size: 1.5em;
    fo-width: 700;
}

.banner .contentBx h2 {
    font-size: 3em;
    color: #333;
    line-height: 1em;
}

p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}

.btn {
    background: #00bcd4;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
}

.sidebar {
    position: fixed;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
    color: white;
}

.sidebar .soc2 {
    filter: invert(1);
}

.sidebar.active {
    right: 0;
}

.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sidebar ul li a:hover {
    color: #00bcd4;
}

.schedule {
    position: absolute;
    left: 100px;
    bottom: 200px;
}

.schedule li {
    margin-right: 10px;
    list-style: none;
    font-size: 1.1em;
    font-weight: 300;
}

.contacts {
    position: absolute;
    left: 100px;
    bottom: 100px;
}

.contacts li {
    margin-right: 10px;
    list-style: none;
    font-size: 1.1em;
    font-weight: 300;
}

.sci {
    position: absolute;
    left: 100px;
    bottom: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.sci li {
    margin-right: 10px;
    list-style: none;
}

.sci li img {
    transform: scale(0.5);
    opacity: 0.7;
}

.sci li img:hover {
    opacity: 1;
}

.title {
    width: 100%;
    text-align: center;
}

.title h2 {
    position: relative;
    color: #00bcd4;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}

.title p {
    max-width: 700px;
    display: inline-block;
}

.title h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: #000;
}

.title.white h2,
.title.white p
{
    color: #fff;
}

.title.white h2::before {
    background: #fff;
}

.about {
    background: #000;
}

.about .content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about .content .textBx {
    max-width: 49%;
    width: 49%;
}

.about .content .textBx p {
    color: #fff;
}

.about .content .imgBx {
    margin-left: 40px;
}

.about .content .imgBx img {
    max-width: 100%;
}

.services .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.services .content .servicesBx {
    padding: 40px 20px;
    max-width: 340px;
    margin: 20px;
    transition: 0.5s;
    text-align: center;
    background: #f5f5f5;
}

.services .content .servicesBx:hover {
    background: #000;
}

.services .content .servicesBx img {
    max-width: 80px;
    transition: 0.5s;
}

.services .content .servicesBx:hover img {
    filter: inset(1);
}

.services .content .servicesBx h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}

.services .content .servicesBx:hover h2 {
    color: #fff;
}

.services .content .servicesBx p {
    margin: 0;
    transition: 0.5s;
}

.services .content .servicesBx:hover p {
    color: #fff;
}

.work .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.work .content .workBx {
    position: relative;
    width: 265px;
    height: 265px;
    margin: 10px;
    transition: 0.5s;
    text-align: center;
}

.work .content .workBx .imgBx,
.work .content .workBx .textBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .content .workBx .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work .content .workBx .textBx {
    background: #000;
    opacity: 0;
    transition: 0.5s;
}

.work .content .workBx:hover .textBx {
    opacity: 1;
}

.work .content .workBx .textBx h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
}

.contact {
    background: #000;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.contact .contactForm {
    position: relative;
    width: 700px;
    margin-top: 20px;
}

.contact .contactForm .row {
    width: 100%;
    display: flex;
}

.contact .contactForm .row .col50 {
    width: 50%;
    margin: 10px;
}

.contact .contactForm .row .col100 {
    width: 100%;
    margin: 10px;
    text-align: center;
}

.contact .contactForm .row input,
.contact .contactForm .row textarea
{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 16px;
    resize: none;
}

.contact .contactForm .row textarea {
    height: 100px;
}

.contact .contactForm .row input[type="submit"] {
    background: #00bcd4;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    max-width: 150px;
}

.copyright {
    color: #fff;
    background: #111;
    text-align: center;
    padding: 10px;
}

.copyright p {
    margin: 0;
    font-size: 16px;
}

.header.active{
    display: none;
}

@media (max-width: 991px) {
    .banner .imgSidebar {
        display: none;
    }
    .banner .contentBx, .sidebar {
        width: 100%;
        padding: 40px;
    }
    .logoText {
        left: 40px;
    }
    .toggle {
        right: 40px;
    }
    .sci {
        left: 40px;
    }
    section {
        padding: 40px;
    }
    .about .content {
        flex-direction: column;
    }
    .about .content .textBx {
        min-width: 100%;
        width: 100%;
    }
    .about .content {
        margin-top: 0;
    }
    .about .content .imgBx {
        margin-left: 0;
    }
    .services .content .servicesBx {
        padding: 30px 20px;
        max-width: 340px;
        margin: 10px;
    }
    .contact .contactForm {
        width: 100%;
    }
    .contactForm .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .contact .contactForm .row .col50 {
        width: 100%;
        margin: 10px;
    }
    .sidebar ul li a {
        font-size: 1.5em;
    }
    .header {
        display: none;
    }
}

@media (max-width: 500px) {
    .services .content .servicesBx,
    .work .content .workBx
    {
        padding: 30px 20px;
        max-width: 100%;
        width: 100%;
        margin: 10px 0;
    }
}